html {
    font-size: 22px
}

body {
    background-color:#010d01;
    color: #0000ff;
}

a{
    color: #FFFF00;
}

a:visited {
    color: #0000ff;
}

a:hover, a:active {
    color: #FFFF00;
}

table, tr, th, td, caption {
    border: 1px solid#eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}